.top-line {
    flex: row;
    display: inline-flex;

}

#current-icon {
    font-size: 50%;
}


.low {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: red;
}

.custom-btn, .city-btn {
    width: 80%;
    height: 10%;
    margin-left: 25px;
    margin-top: 2%;
    padding: 15px;
}

#past-searches {
    display: flex;
    flex-direction: column;
    flex: 1 2 auto;
}

