.top-line {
    flex: row;
    display: inline-flex;

}

#current-icon {
    font-size: 50%;
}


.low {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: red;
}

.custom-btn {
    width: 90%;
    height: 10%
}

